{% extends "base.html" %}
{% block content %}

<div class="add-album">
    <div class="add-album-page">
        <h1>Add new Album</h1><br>
        <form class="add-album-form" action="" method="post">
            {{ form.hidden_tag() }}
            <table class="add-album-form-table">
                <tr>
                    <td>{{ form.album_name.label }}</td>
                    <td>{{ form.album_name }}</td>
                    {% for error in form.album_name.errors %}
                    <td>><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                <td>{{ form.new_artist.label }}</td>
                <td>{{ form.new_artist }}</td>
                {% for error in form.new_artist.errors %}
                <td><span style=" color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.existing_artist.label }}</td>
                    <td>{{ form.existing_artist }}</td>
                    {% for error in form.existing_artist.errors %}
                    <td><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.year.label }}</td>
                    <td>{{ form.year }}</td>
                    {% for error in form.year.errors %}
                    <td><span style=" color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.new_genre.label }}</td>
                    <td>{{ form.new_genre }}</td>
                    {% for error in form.new_genre.errors %}
                    <td><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.existing_genre.label }}</td>
                    <td>{{ form.existing_genre }}</td>
                    {% for error in form.existing_genre.errors %}
                    <td><span style=" color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.format.label }}</td>
                    <td>{{ form.format }}</td>
                    {% for error in form.format.errors %}
                    <td><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.label.label }}</td>
                    <td>{{ form.label }}</td>
                    {% for error in form.label.errors %}
                    <td><span style=" color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.discogs_id.label }}</td>
                    <td>{{ form.discogs_id }}</td>
                    {% for error in form.discogs_id.errors %}
                    <td><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.notes.label }}</td>
                    <td>{{ form.notes }}</td>
                    {% for error in form.notes.errors %}
                    <td><span style=" color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
            </table>
            <p>
                {{ form.submit() }}
                <button type="button" class="cancel-button"><a href="{{ url_for('main.albums') }}">Cancel</a></button>
            </p>
        </form>
    </div>
</div>

{% endblock %}