{% extends "base.html" %}
{% block content %}
<div class="album-details">
    <h1>{{ album.title }}</h1>
    <table>
        <tr>
            <th>Artist</th>
            <th>Title</th>
            <th>Year</th>
        </tr>
        <tr>
            <td>{{ album.artist.name }}</td>
            <td>{{ album.title }}</td>
            <td>{{ album.year }}</td>
        </tr>
    </table>

    <div class="track-list">
        <table>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Duration</th>
            </tr>
            {% for track in tracks %}
            <tr>
                <td>{{ track.track_number }}</td>
                <td>{{ track.title }}</td>
                <td>
                    {% if track.duration_seconds %}
                    {{ track.duration_seconds // 60 }}:{{ "%2d"|format(track.duration_seconds % 60) }}
                    {% else %} -
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <button type="button"><a href="{{ url_for('main.edit_album', album_id=album.id) }}">Edit Album</a></button>
    <button type="button"><a href="{{ url_for('main.add_tracks', album_id=album.id) }}">Edit Tracks</a></button>
</div>
{% endblock %}