{% extends "base.html" %}
{% block content %}

<div class="albums-list">
    <div class="albums-list-page">
        <h1>Albums</h1><br>
        <table class="albums-list-table">
            <th>Artist</th>
            <th>Year</th>
            <th>Album</th>
            {% for album in albums %}
            <tr>
                <td><b>{{ album.artist.name }}</b></td>
                <td>{{ album.year }}</td>
                <td>{{ album.title }}</td>
                <td>
                    <button type="button"><a
                            href="{{ url_for('main.album_details', album_id=album.id) }}">Details</a></button>
                </td>
                <td>
                    <form method="post" action="{{ url_for('main.delete_album', album_id=album.id) }}"
                        onsubmit="return confirm('Are you sure you want to delete this album?');">
                        <button type="submit" class="delete-button">Delete Album</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <p>
            <button type="button"><a href="{{ url_for('main.add_album') }}">Add Album</a></button>
        </p>
    </div>
</div>

{% endblock %}