<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>{{ title }} - Fiona's Music Database</title>
    {% else %}
    <title>Fiona's Music Database</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='icons/favicon.svg') }}" type="image/svg+xml">

</head>

<body>
    <div class="navbar">
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.artists') }}">Artists</a></li>
                <li><a href="{{ url_for('main.albums') }}">Albums</a></li>
                <li><a href="{{ url_for('main.genres') }}">Genres</a></li>
                <li><a href="{{ url_for('main.add_album') }}">Add Album</a></li>
            </ul>
        </nav>
    </div>

    <div class="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="flashed-messages">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
    </div>

</body>

</html>