{% extends "base.html" %}
{% block content %}

<div class="edit-artist">
    <div class="edit-artist-page">
        <h1>Edit Artist</h1><br>
        <form class="edit-artist-form" action="" method="post">
            {{ form.hidden_tag() }}
            <table class="edit-artist-form-table">
                <tr>
                    <td>{{ form.name.label }}</td>
                    <td>{{ form.name }}</td>
                    {% for error in form.name.errors %}
                    <td><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.country.label }}</td>
                    <td>{{ form.country }}</td>
                    {% for error in form.country.errors %}
                    <td><span style=" color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.year_of_founding.label }}</td>
                    <td>{{ form.year_of_founding }}</td>
                    {% for error in form.year_of_founding.errors %}
                    <td><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.notes.label }}</td>
                    <td>{{ form.notes }}</td>
                    {% for error in form.notes.errors %}
                    <td><span style=" color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
            </table>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
</div>

{% endblock %}