{% extends "base.html" %}
{% block content %}

<div class="edit-tracks">
    <div class="edit-tracks-page">
        <h2>Edit Tracks</h2><br>

        <form class="edit-tracks-form" action="" method="post">
            {{ form.hidden_tag() }}
            <table class="edit-tracks-form-table">
                <tr>
                    <td>{{ form.title.label }}</td>
                    <td>{{ form.title }}</td>
                    {% for error in form.title.errors %}
                    <td><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.track_number.label }}</td>
                    <td>{{ form.track_number }}</td>
                    {% for error in form.track_number.errors %}
                    <td><span style=" color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.duration_seconds.label }}</td>
                    <td>{{ form.duration_seconds }}</td>
                    {% for error in form.duration_seconds.errors %}
                    <td><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
            </table>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
</div>
{% endblock %}