{% extends "base.html" %}
{% block content %}

<div class="edit-tracks">
    <h2>Edit Tracks</h2>

    <form class="edit-tracks-form" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}
            {{ form.title }}
            {% for error in form.title.errors %}
            <span style="color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            {{ form.track_number.label }}
            {{ form.track_number }}
            {% for error in form.track_number.errors %}
            <span style=" color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            {{ form.duration_seconds.label }}
            {{ form.duration_seconds }}
            {% for error in form.duration_seconds.errors %}
            <span style="color: red;"">[{{ error }}]</span>
            <br><br>
        </p>
        {% endfor %}
        <p>
            {{ form.submit() }}
        </p>
    </form>
</div>
{% endblock %}