{% extends "base.html" %}
{% block content %}

<div class="edit-artist">
    <form class="edit-artist-form" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}
            {{ form.name }}
            {% for error in form.name.errors %}
            <span style="color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            {{ form.country.label }}
            {{ form.country }}
            {% for error in form.country.errors %}
            <span style=" color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            {{ form.year_of_founding.label }}
            {{ form.year_of_founding }}
            {% for error in form.year_of_founding.errors %}
            <span style="color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            {{ form.notes.label }}
            {{ form.notes }}
            {% for error in form.notes.errors %}
            <span style=" color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</div>

{% endblock %}