{% extends "base.html" %}
{% block content %}

<div class="edit-album">
    <form class="edit-album-form" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}
            {{ form.title }}
            {% for error in form.title.errors %}
            <span style="color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            {{ form.year.label }}
            {{ form.year }}
            {% for error in form.year.errors %}
            <span style=" color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            {{ form.format.label }}
            {{ form.format }}
            {% for error in form.format.errors %}
            <span style="color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            {{ form.label.label }}
            {{ form.label }}
            {% for error in form.label.errors %}
            <span style=" color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
            {{ form.notes.label }}
            {{ form.notes }}
            {% for error in form.notes.errors %}
            <span style=" color: red;"">[{{ error }}]</span>
            {% endfor %}
            <br><br>
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
</div>

{% endblock %}