{% extends "base.html" %}
{% block content %}
<div class="track-list-page">
    <div class="header">
        <h1>Track List</h1><br>
    </div>
    <div class="track-list">
        <table>
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Duration</th>
                <th>Action</th>
            </tr>
            {% for track in tracks %}
            <tr>
                <td>{{ track.track_number }}</td>
                <td>{{ track.title }}</td>
                <td>
                    {% if track.duration_seconds %}
                    {{ track.duration_seconds // 60 }}:{{ "%2d"|format(track.duration_seconds % 60) }}
                    {% else %} -
                    {% endif %}
                </td>
                <td>
                    <button type="button"><a href="{{ url_for('main.edit_track', track_id=track.id) }}">Edit
                            Track</a></button>
                </td>
                <td>
                    <form method="post" action="{{ url_for('main.delete_track', track_id=track.id) }}"
                        onsubmit="return confirm('Are you sure you want to delete this track?');">
                        <button type="submit" class="delete-button">Delete Track</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="add-tracks">
        <h2>Add Track</h2><br>

        <form class="add-tracks-form" action="" method="post">
            {{ form.hidden_tag() }}
            <table class="add-tracks-form-table">
                <tr>
                    <td>{{ form.title.label }}</td>
                    <td>{{ form.title }}</td>
                    {% for error in form.title.errors %}
                    <td><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
            </tr>
            <tr>
                    <td>{{ form.track_number.label }}</td>
                    <td>{{ form.track_number }}</td>
                    {% for error in form.track_number.errors %}
                    <td><span style=" color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
                </tr>
                <tr>
                    <td>{{ form.duration_seconds.label }}</td>
                    <td>{{ form.duration_seconds }}</td>
                    {% for error in form.duration_seconds.errors %}
                    <td><span style="color: red;"">[{{ error }}]</span></td>
                    {% endfor %}
            </tr>
            </table>
        <p>
            {{ form.submit() }}
            <button type="button" class="cancel-button"><a href="{{ url_for('main.album_details', album_id=album.id) }}">Cancel</a></button>
        </p>
        </form>
    </div>
</div>
{% endblock %}